.brigradeiro{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-style: normal;
    font-weight: 800;
}
.limão{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: small;
font-style: italic;
font-weight: 200;

}
.morango{
  font-family: monospace;
  font: normal;
  font-style: oblique;
  font-weight: 500;

}
.banana{
 font-family: fantasy;
 font-size: x-small;
 font-style: normal;
 font-weight: 400;  
}